<form method="post">
  <fieldset>
    <legend>Dog Information</legend>
    <label for="name">Dog name: </label>
    <input type="text" id="name" name="name">

    <label for="description">Dog description: </label>
    <input type="text" id="description" name="description">
  </fieldset>
  <fieldset>
    <legend>Dog colors</legend>
    <label><input type="checkbox" name="colors[]" value="black">Black</label>
    <label><input type="checkbox" name="colors[]" value="brown">Brown</label>
    <label><input type="checkbox" name="colors[]" value="tantantantan">Tan</label>
    <label><input type="checkbox" name="colors[]" value="rainbow">Rainbow</label>
  </fieldset>
  <fieldset>
    <legend>Dog size</legend>
    <label><input type="radio" name="size" value="small">Small</label>
    <label><input type="radio" name="size" value="medium">Medium</label>
    <label><input type="radio" name="size" value="large">Large</label>
  </fieldset>
  <div>
    <input type="submit" name="submit" id="submit" value="New Dog">
  </div>
</form>

<p><%= @new_name if !@new_name.nil? %></p>
